<!DOCTYPE html>
<html>
<head lang="ko">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" charset="utf-8">
    <title>www</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
	<div>
	    <img src="../img/browsers-chrome.png" width="128" height="128">
	    <img src="../img/browsers-safari.png" width="128" height="128">
	    <img src="../img/browsers-ie.png" width="128" height="128">
	    <img src="../img/browsers-opera.png" width="128" height="128">
	    <img src="../img/browsers-ff.png" width="128" height="128">
	</div>
    <iframe src="https://rawgit.com/gmanio/doodle/master/naver_logo.html" width="550" height="700" frameborder="0"></iframe>
    <div class="logo">
        <img src="img/ico.png" width="100" height="100">
        <span class="logo_desc">powered by Node.js</span>
    </div>
<script>
	/* google analytics code */
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-59800730-2', 'auto');
	ga('send', 'pageview');


	// contextmenu(마우스 우측키)를 방지합니다.
    document.oncontextmenu = function(){ return false; }
    // 선택을 방지합니다.
    document.onselectstart = function(){ return false; }
    // 드래그를 방지합니다.
    document.ondragstart = function(){ return false; }
</script>
</body>
</html>