@charset "utf-8";

/* COMMON */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table,h1,h2,h3,h4,h5{font-family:HelveticaNeue-Light,AppleSDGothicNeo-Light,sans-serif;font-size:15px;line-height:1.267em}
body{position:relative;color:#000}
table{border-collapse:collapse}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{color:inherit;text-decoration:none}

/* COMMON HIDE */
.u_vc,.u_hc,.u_skip{overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;line-height:1px;text-indent:4px;white-space:nowrap}
.blind{position:absolute;visibility:hidden;overflow:hidden;width:0;height:0;padding:0;margin:0;font-size:0;line-height:0}

/* logo */
.logo{position:fixed;right:0;bottom:0;opacity:0.5}
.logo_desc{position:absolute;display:inline-block;top:70px;right:8px;text-align:right;font-size:11px;line-height:13px}

/* index.html */
